{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: arial, sans-serif;
   background-color: rgb(169, 180, 214);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.left {
    display: flex;
    gap: 20px;
}

.konten {
    text-align: center;
    margin-top: 20vh;
}

.setting {
    background-color: transparent;
    border: 2px solid #f8f4f4;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#cari {
    background-color: #ffffff;
    border: 2px solid rgb(236, 231, 231);
    border-right: none;
    outline: none;
    padding: 10px;
    width: 50%;
    border-radius: 5px 0 0 5px;
}

.search>button {
    background-color: #ffffff;
    border: 2px solid rgb(238, 235, 235);
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border-left: none;
    outline: none;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}